<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vue JS</title>
<body>
    <div id="app">
        {{message}}
        <input v-model="message"> <!--el input toma el valor del message que esta abajo en el script  -->
       <button v-on:click='seen = !seen'>Open/Close</button>
        <span v-if='now you see me'></span>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
    var app = new Vue({
        el:'#app',
        data: {
            message:'Hello Vue!',
            seen:false
        }
    })
    </script>
</body>
</head>
</html>
